@page
@model ContactModel
@{
    ViewData["Title"] = "Uplift|Contact";
}
<br />
<br />
<br />
<br />
<h2 id="ContactTitle"><u>Contact</u></h2>


<address id="ContactText">
    504 E 2nd Avenue<br />
    Monmouth, IL - 61462<br />
</address>

<address id="ContactText">
    <strong>Support:</strong> <a href="mailto:sujithisathome@gmail.com">sujithisathome@gmail.com</a>
</address>
