@page
@model IndexModel
@{
    ViewData["Title"] = "Uplift|Home";
}

<br />
<br />
<p style="text-align:center"><img src="~/images/Banner.png" style="max-width:800px" /></p>

<p id ="IndexText" style="text-align:center">
    <br />
    Confused as to what you are feeling now? Chat with our bot and understand.
</p>
<br />
<a asp-page="Uplift" role="button" class="btn btn-primary btn-lg btn-block" style="font-size:2em">Try Uplift Now</a>
