@font-face{
    font-family:Libel;
    src:url("/fonts/libel-suit-rg.ttf")format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    transition: background-color 1s ease;
    display: flex;
    font-family:Libel;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#upliftTitle{
    font-size:2em;
}

#response {
    font-size: 2em;
}

#gifspace{

}

#AboutTitle{
    text-align:center;
    font-size:3em;
}

#AboutText{
    text-align:center;
    font-size:1em;
}

#ContactText {
    text-align: center;
    font-size: 2em;
}

#ContactTitle {
    text-align: center;
    font-size: 3em;
}

#IndexText {
    font-size: 2em;
}